[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = git@github.com:bundai223/itamae-plugin-recipe-rbenv.git
[submodule "plugins/itamae-plugin-recipe-rust"]
	path = plugins/itamae-plugin-recipe-rust
	url = git@github.com:dsisnero/itamae-plugin-recipe-rust.git
[submodule "plugins/itamae-plugin-resource-flatpak"]
	path = plugins/itamae-plugin-resource-flatpak
	url = https://codeberg.org/dsisnero/itamae-plugin-resource-flatpak.git
[submodule "plugins/mitamae-plugin-resource-apt_keyring"]
	path = plugins/mitamae-plugin-resource-apt_keyring
	url = git@github.com:takumin/mitamae-plugin-resource-apt_keyring.git
[submodule "plugins/mitamae-plugin-resource-apt-repository"]
	path = plugins/mitamae-plugin-resource-apt-repository
	url = git@github.com:moritzheiber/mitamae-plugin-resource-apt-repository.git
