# ignore file type
*~
.DS_Store
bin/mitamae
TAGS
.spacemacs.env
filescatalog.ini
Keypirinha.history
.envrc
.env
.luarc.json
.aider*
d:/tmp
.clarity2/sessions

# Test files
spec/
test_*.rb

# Third-party tools
mitamae/
specinfra/

# TODO files
todo.json

# bd database
.beads/